.dashboard-container
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: flex-start;
    align-items:flex-start;
    margin-top:4.125rem;
    margin-bottom: 0;
    transition: margin-left 0.3s ease-in-out;
}

.dashboard-links-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    box-shadow: 8px 0px 8px -6px #ffffff;
    padding-top:20px ;   
}

.dashboard-links
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0.5rem;
    padding: 10px;
    width: 95%;
}

.menu-btn{
    color:#FFC300;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.dashboard-links.open {
    left: 0;
    backdrop-filter: blur(10px);
  }

.link-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #004466;
    border: 1px solid #FFC700;
    color: #FFD700;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    gap: 10px;
    padding: 5px 10px;
}



#dashboard-links
{
    font-style: none;
    text-decoration: none;
    color: #FFD700;
}

/* status section */

.dashboard-menu-container
{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    gap: 10px;
    /* margin-left: 20px; */
    height: 100vh;
    /* margin-top: 3.125rem; */
}

.status-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    height: 200px;
    padding: 15px;
    background: linear-gradient(45deg, #008888, #005d88c2);
    box-shadow: rgba(0, 0, 0, 0.268) 0px 0px 8px;
    border-radius: 8px;
}

/* Icon */
#icon {
    width: 25px;
    height: 25px;
    color: #F4A261; /* Warm Orange */
}

/* Headings */
.status-card > h1 {
    background: linear-gradient(to right, #FFD700, #FFC300); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
}

/* Paragraph */
.status-card > p {
    color: #E0E0E0; 
    font-size: 1rem;
}

/* Button */
.status-card > button, .status-card >a{
    padding: 5px 15px;
    border-radius: 1.2rem;
    background-color: #004466; 
    color: #FFD700; 
    text-decoration: none;
    border: 1px solid #FFD700;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

/* Button Hover */
.status-card > button:hover,.status-card >a:hover {
    background-color: #FFD700; 
    color: #004466; 
    border-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.8); 
}

.link-component{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 2.125rem;
    width: 100%;
}

.user-header>p{
    color:#FFFF ;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
}

#user-name{
    color: #FFD700;
}


/* -------------user kyc style--------------- */
.kyc-container {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  .kyc-container h1 {
    font-size: 20px;
    color: #f9f9f9;;
    margin-bottom: 15px;
  }
  
  .kyc-container p {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 5px;
  }
  
  .kyc-container ul {
    list-style-type:disc; /* Proper bullet points */
    padding-left: 20px; /* Proper alignment */
    margin: 10px 0;
  }
  
  .kyc-container li {
    font-size: 15px;
    padding: 5px;
    margin: 5px 0;
    color: #ffcc;
    font-weight: 500;
  }
  
  .kyc-container button {
    padding: 10px 15px;
    border-radius: 1.2rem;
    background-color: #004466; 
    color: #FFD700; 
    text-decoration: none;
    border: 1px solid #FFD700;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
  }
  
  .kyc-container button:hover {
    background-color: #FFD700; 
    color: #004466; 
    border-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.8); 
  }

  .kyc-status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .kyc-status-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .kyc-status-item>p{
    color: #004466; 
    font-size: 0.8rem;
    border: 1px solid #FFD700;
    padding: 4px;
    border-radius: 1.8rem;
    background-color: white;
  }
  
  #kyc-icon{
    width: 25px;
    height: 25px;
    color: #ffffff;
  }  
  
  .verify-icon {
    color: #99cd32; /* Green */
    width: 30px;
    height: 30px;
    font-weight: bold;
}

  #indian-payment-details{
    margin-top: 5px;
    color:aqua;
    font-weight: bold;
  }

  /* General Styles */
label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  display: block;
  margin-top: 5px;
}

/* Dropdown Styling */
.dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  margin: 5px 0px;
}

/* Hover & Focus Effects */
.dropdown:hover {
  border-color: #666;
}

.dropdown:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



  @media screen and (max-width: 450px) {
    .status-card {
      width: 250px;
      height: 200px;
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100px;
      height: 200px;
      background: linear-gradient(45deg, #008888, #005d88c2);      
      z-index: 2;
    }
  
    .link-container {
      position: relative;
      z-index: 100; 
    }

    .dashboard-links-section{
      width: 20px;
    }

    .dashboard-links.open {
      left:40px;
    }
  }


  /* buy token page */

  .buy-token-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

#status-link{
  color: #FFD700;
}
  .info-step-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    gap: 10px;
    padding-left: 20px;
  }

  /* .info-step-box>ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
  }*/
  .info-step-box>ul>li{
    line-height: 1.5;
    font-size: 16px;
  } 

  .payment-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
  }
  
  .left-section,
  .right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    border-radius: 10px;
    gap: 10px;
  }

  .payment-details-box{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    box-shadow: 0 0 10px white;
    padding: 5px;
    border-radius: 0.5rem;
  }

  
  h2 {
    font-size: 24px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    color: #ffff;
    padding: 5px;
  }
  
  .payment-form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px white;
    border-radius: 0.5rem;
    padding: 40px;
    margin-top: 30px;

  }
  
  .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .input-field label {
    font-size: 16px;
    color: rgb(0, 183, 255);
    margin-bottom: 5px;
  }
  
  .input-field input {
    padding: 10px;
    font-size: 16px;
    border-radius: 1.2rem;
    border: 1px solid #ffffff;
    outline:none ;
    background: none;
    color: white;
    width: 100%;
  }
  .input-field>input::placeholder {
    color: #ffffff;
  }
  .input-field>input:focus {
    border-color:  #FFD700;
    box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.8);
  }
  
  .file-upload {
    display: flex;
    align-items: center;
  }
  
  .file-upload input {
    padding: 10px;
    margin-right: 10px;
  }
  
  .file-upload svg {
    color: #007bff;
  }
  
  .submit-btn {
    padding: 12px;
    font-size: 16px;
    background-color: #004466;
    border: 1px solid #FFC700;
    color: #FFD700;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: 100%;
  }

  .uploading {
    padding: 12px;
    font-size: 16px;
    background-color: #004466;
    border: 1px solid #FFC700;
    color: #FFD700;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    filter: blur(1px);
    cursor:not-allowed;
  }
  
  .submit-btn:hover {
    background-color: #FFC700;
    color: #004466;
    border-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.8);
    font-weight: bold;
  }

  #bank-detail-title{
    color: rgb(0, 183, 255);
    font-weight: bold;
  }


  .file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ffffff;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .custom-file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .custom-file-upload:hover {
    color: #0086b3;
  }
  
  .upload-icon {
    color: #FFC700;
  }
  
  .file-upload-container:hover {
    background-color: rgba(0, 123, 255, 0.1);
  }

  #image-error{
    color:rgb(255, 111, 0);
  }
  
  .crypto-details{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }

  .checkbox-input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  @media (max-width: 850px) {
    .payment-page {
      flex-direction: column;
      align-items: center;
      padding: 0px;
    }
  
    .left-section,
    .right-section {
      width: 80%;
      margin-bottom: 20px;
    }

    .info-step-box{
      padding-left: 30px;
      padding-right: 10px;
    }
    .dashboard-links-section{
      width: 20px;
    }
  }


/* ---------------payment history-------------- */

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Modal Box */
.modal-content {
  background: linear-gradient(45deg, #008888, #005d88c2);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
  margin-top: 10px;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px;
}

th{
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #FFFFFF;
}

td>a{
  text-decoration: none;
  border: 1px solid rgb(0, 183, 255);
  padding: 2px 8px;
  border-radius: 1.2rem;
  color:#ffffff ;
}


/* Buttons */
.open-btn, .close-btn {
  padding: 10px 15px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.close-btn {
  background: red;
}

@media (max-width: 600px) {
  th, td {
    font-size: 12px;
    padding: 8px;
  }

  .modal-content {
    width: 90%;
    padding: 15px;
    margin-right: 40px;
    padding: 10px;
  }

  .open-btn, .close-btn {
    font-size: 14px;
  }
}

  
  


  
  