
.spinner-container
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
}

.spinner-container>h1{
  color: aliceblue;
}
.spinner-3 {
    
    width: 50px;
    margin-top: 20px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg, rgba(200, 200, 200, 50%) 30%, #0000 0 70%, rgb(255 255 255 / 100%) 0) 50% / 8% 100%,
      linear-gradient(90deg, rgb(255 255 255 / 25%) 30%, #0000 0 70%, rgb(255 255 255 / 75%) 0) 50% / 100% 8%;
    background-repeat: no-repeat;
    animation: s3 1s infinite steps(12);
  }
  .spinner-3::before,
  .spinner-3::after {
     content: "";
     grid-area: 1/1;
     border-radius: 50%;
     background: inherit;
     opacity: 0.915;
     transform: rotate(30deg);
  }
  .spinner-3::after {
     opacity: 0.83;
     transform: rotate(60deg);
  }
  
  @keyframes s3 {
    100% {transform: rotate(1turn)}
  }