.tokenomics-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    background: linear-gradient(45deg, #008888, #005d88c2);
    border-radius: 12px;
    text-align: center;
    width: 85%;
}

h1{
    text-align: center;
}

.tokenomics-info
{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.tokenomics-data
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

.tokenomics
{
    display: flex;
    justify-content:center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.pichart{
    width: 500px;
    height: 500px;
}

.tokenomics-supply
{
    background: linear-gradient(to right,#ff98e2, #ffc876,#79fff7,rgb(255, 174, 0));
    background-clip:text ;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;

}

.tokenomics-data>p{
    color: #FFFFFF;
    text-align: center;
}

#tokenomics-dot
{
    padding: 0px 10px;
    border-radius: 50%;
    margin-right: 5px;
}

@media screen and (max-width:550px){
    .pichart{
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width:400px){
    .pichart{
        width: 300px;
        height: 300px;
    }
    .tokenomics-container{
        padding: 10px;
    }
}